.page{
  padding: 1em;
  height: 100vh;
  display: flex;
  
}
*{
  box-sizing: border-box;
}

.nav-container{
  background-image: url(./images/purpleBg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 30%;

  
}

.nav{

  height: 40%;
  margin: 2em 2em;
  
  

}

.nav a{


  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-bottom: 2em;
  gap: 1em;

}

a:active{
  background-color: white;


}
.link-text{
  text-transform: uppercase;
  color: white;
  
}
.link-text p{
  opacity: 0.6;
  margin: 0;
}
.link-text h3{
  margin: 0.2em;
}


.circle{
  border-radius: 30px;
  border: 1px solid white;
  height: 50px;
  width: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}


