#root{
  width: 100vw;
  height: 100vh;
  @media (min-width: 850px) and (min-height: 900px){
    font-size: 150%;
  }
  background-color: #D6D9E6;
  display: flex;
  justify-content: center;
  align-items: center;

}
body{
  
}
.page{
  padding: 1em;
  padding-right: 0;
  height: 100vh;
  display: flex;
  background-color: white;
  border-radius: 10px;

  @media(orientation: landscape) and (min-width: 900px) and (min-height: 700px){
    width: 70vw;
    max-width: 1210px;
    max-height: 845px;
    min-width: 630px;


  }
  @media(orientation: landscape) and (min-height: 575px){

    height: 80vh;

  }
  

  
}
h1, h2{
  color: #022959;
}
header{
  margin-bottom: 2em;
}
header p{
  color: #9699AA;
}
*{
  box-sizing: border-box;
}
h3, p{
  margin: 0;
  padding: 0;
}

.nav-container{
  background-image: url(./images/purpleBg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 30%;
  min-width: 250px;

  
}

.nav{

  height: 40%;

  width: 85%;
  margin: 2em auto;
  
  

}

.nav a{


  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-bottom: 2em;
  gap: 1em;

}

a:active{
  background-color: white;


}
.link-text{
  text-transform: uppercase;
  color: white;
  flex-grow: 999;
  width: 60%;
  margin-right: 0.5em;
  
}
.link-text p{
  opacity: 0.6;
  margin: 0;
}
.link-text h3{
  margin: 0.2em;
  display: inline-block;
  padding: 0px;
  width: 100%;
  word-wrap: break-word;



  @media(max-width: 700px){
    /*width: 20px;*/
    
  }

}


.circle{
  border-radius: 50%;
  border: 1px solid white;
  height: 5vw;
  width: 5vw;
  max-width: 80px;
  max-height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  

}

.main{

  margin: 0 auto;
  padding: 2em;
  width: 40vw;
  
  @media(orientation: landscape){
    min-width: 500px;
    max-width: 430px;
  }

}

.infoForm{
  display: flex;
  flex-direction: column;

  
}

.infoPage-text-input{
  width: 100%;
  padding: .5em;
  font-size: 1.1rem;
  margin-bottom: 1em;

}

.infoPage-text-input:focus, 
.infoPage-text-input:active, 
.infoPage-text-input:focus-visible {
  outline: 1px solid #483EFF;

}

.infoPage-text-input, 
.nextStep-button,
.megaCheckbox,
.grayBox, .plan-option{
  border-radius: 10px;
}

.nextStep-button{
  padding: 1em 2em;
  float: right;
  margin: 1em 0em;

  bottom: 0;
  background-color: #022959;
  color: white;
  /*width: 110px;
  height: 50px;*/

}
.nextStep-button p{
  font-size: 1rem;
}



input:invalid, .redBorder{
  border: 1px solid red;
}
.red-text{
  color: red;
  float: right;
}
.plan-options{
  display: flex;
  gap: 5%;
  width: 100%;
  
}
.plan-option{

  border: 1px solid #483EFF;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  padding: 1em;

}
.plan-option-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75em;

}
.plan-option-text h2{
  margin: 0;
}
.price{
  color: #9699AA;
}
.free{
  color: #022959;
  margin-bottom: 0;
}

.switch-container{
  position: relative;
  display: flex;
  width: 4em !important;
  background-color: #022959;
  height: 60%;
  border-radius: 30px;
  align-items: center;

}
.switch-container input{
  width: 0%;
  height: 0%;
  opacity: 0;
  margin: 0;
  padding: 0;
  
  
  
}
.switch-container span{

  display: inline-block;
  height: 1em;
  background-color: white;
  width: 1em;
  z-index: 5;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  margin: 0 0.5em;
}

input:checked + span{
  transform: translateX(200%);
}

.planPage-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.grayBox{
  width: 100%;
  background-color: #F8F9FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin-top: 2.5em;
  height: 3em;

}
.grayArea{
  height: 85%;
}

.darkText{
  color: #022959;

}
.darktext, .lightText{
  transition: color 0.1s ease-in;
}
.lightText{
  color: #9699AA;
}

.megaCheckbox{

  display: flex;
  width: 100%;
  padding: 1em;
  gap: 1em;
  border: 1px solid #483EFF;
  margin-bottom: 1em;
  align-items: center;


}
.megaCheckbox input{
  margin: 0;
  width: 1em;
  height: 1em;
  border: none;
}

.megaCheckbox div{
  flex-grow: 100;
}

.section{
  display: flex;
  justify-content: space-between;

}

.summaryBox{
  background-color: #F8F9FF;
}
.secondHalf{
  margin: 0 auto;


}

.plan-option img{
  margin-bottom: 30%;
}

.small-gap{
  gap: 0.25em;
}




@media(orientation: portrait){
  .page{
    flex-direction: column;
    padding: 0;
    position: relative;

  }
  .plan-options{

    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  .plan-option{
    padding: 1em;

    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1em;
    
  }
  .plan-option img{
    margin-bottom: 0;
  }

  .circle{
    width: 10vw;
    height: 10vw;
    min-width: 50px;
    min-height: 50px;
    max-width: 85px;
    max-height: 85px;
  }
  .h1{
    margin-top: 0;
  }

  .main{
    border: 1px solid red;
    width: 90%;
    max-width: 500px;

    transform: translateY(-50px);
    top: 20vh;
    left: 5%;
    background-color: white;
    
    border-radius: 10px;

    

  }
  .secondHalf{
    width: 100%;
    flex-grow: 100;
    
  }

  .link-text{
    display: none;
  }

  .nav-container{

    background-image: url(./images/verticalBg.png);
    width: 100vw;
    height: 25vh;
  
    min-height: 150px;
    
    
  
  }

  .nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  
    width: 60%;
    margin: auto auto;
    padding-top : 5vh;
    

    /*@media(max-width: 370px){
      grid-template-columns: repeat(2, 1fr);
    }*/
    
  }
  .nav a{
    
    margin: 0 auto;
  }
  .grayArea{
    background-color: #EFF5FF;

    width: 100%;
    
    /*min-height: 475px;*/

    

  }

}
footer{
  display: flex;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: flex-end;
  height: 15%;

  
  

  @media(orientation: landscape){
    padding-right: 2em;
    width: 50vw;
    min-width: 500px;
    max-width: 630px;
  }

}


@media(min-width: 700px){
  .nav-container{
    border-radius: 10px;
  }
  

}

@media(max-width: 400px){
  .main{
    top: 12vh;
    padding: 1em;
  }
  .nextStep-button{
    margin: 0.5em 0em;
  }
  .nav{
    padding-top: 3vh;
    width: 70%;
  }

}

@media(orientation: landscape){
  body{
    min-width: 772px;
    overflow-x: scroll;
    min-height: 100vh;
  }
}





